<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img class="app-logo" src="assets/images/Momentum-logo.svg">
        <svg class="app-logo-text">
          <use xlink:href="assets/images/Momentum-text.svg#Symbols"></use>
        </svg>
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><img class="user-icon" src="assets/images/account_circle-black.svg"></a></li>
    </ul>
  </div>
</nav>
<div class="sidepanel" [ngClass]="status ? 'opened' : 'closed'">
  <button class="openbtn" (click)="status = !status">
    <span class="material-icons material-icons-outlined" [ngClass]="status ? 'hide' : 'show'">chevron_right</span>
    <span class="material-icons material-icons-outlined" [ngClass]="status ? 'show' : 'hide'">chevron_left</span>
  </button>
    <a href="#" [matTooltip]="status ? '' : 'Dashboard' " matTooltipPosition="right" [matTooltipClass]="{ 'tool-tip': true }"><img class="app-logo" src="assets/images/dashboard_icon.svg"><span [ngClass]="status ? 'show' : 'hide'">Dashboard</span></a>
    <a href="#" [matTooltip]="status ? '' : 'Fund' " matTooltipPosition="right" [matTooltipClass]="{ 'tool-tip': true }" class=""><img class="app-logo" src="assets/images/Fund_CCY_Date_icon.svg"><span [ngClass]="status ? 'show' : 'hide'">Fund</span></a>
    <a href="#" [matTooltip]="status ? '' : 'Summary by Fund' " matTooltipPosition="right" [matTooltipClass]="{ 'tool-tip': true }"><img class="app-logo" src="assets/images/summary_by_fund.svg"><span [ngClass]="status ? 'show' : 'hide'">Summary by Fund</span></a>
    <a href="#" [matTooltip]="status ? '' : 'Custom View' " matTooltipPosition="right" [matTooltipClass]="{ 'tool-tip': true }"><img class="app-logo" src="assets/images/custom_view.svg"><span [ngClass]="status ? 'show' : 'hide'">Custom View</span></a>
</div>
<div class="container-right" [ngClass]="status ? 'narrow' : 'wide'">
  <div class="container-row">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
    </mat-form-field>
    <div class="btn-grp">
      <button mat-flat-button color="primary" class="btn-primary btn-left">ACTION ONE</button>
      <button mat-flat-button color="primary" class="btn-primary">ACTION TWO</button>
    </div>
  </div>
  <div class="ssc-grid">
    <div class="grid-heading">Momentum ag-grid
      <button class="accordion-btn" (click)="accordion = !accordion">
        <span class="material-icons material-icons-outlined" [ngClass]="accordion ? 'show' : 'hide'">expand_less</span>
        <span class="material-icons material-icons-outlined" [ngClass]="accordion ? 'hide' : 'show'">expand_more</span>
      </button>
    </div>
    <ag-grid-angular
      class="ag-theme-alpine ssc-table"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [headerHeight]="headerHeight"
      [ngClass]="accordion ? 'opened' : 'closed'">
    </ag-grid-angular>
  </div>
</div>
